{% extends 'base.html' %}
{% block title %} Пост: {{ post.text|truncatechars:30 }} {% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y"}} 
        </li>  
        <li class="list-group-item">
          Автор:
          <a href="{% url 'posts:profile' post.author %}">
          {{ post.author.get_full_name }}
          </a><br>
            Всего постов: {{ post.author.posts.count }}
        </li>
        {% if post.group %}
        <li class="list-group-item">
            Группа:
              <a href="{% url 'posts:group_list' post.group.slug %}">
                {{ post.group.title }}
              </a>
        {% endif %}
        </li>
        {% if not forloop.last %}
        {% endif %}
        {% if post.author == request.user %}
          <li class="list-group-item">
            <a href="{% url 'posts:post_edit' post.pk %}">
            Редактировать запись
            </a>
          </li>
        {% else %}
        {% endif %}
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <div class="container py-3">
        <p>
          {{ post.text|linebreaksbr }} 
        </p>
      </div>
    </article>
  </div> 
{% endblock %}